
# Data Science Tools and Ecosystem

# Introduction
In this notebook, DataScience tools and Ecosystem are summarized

**Objectives :**
- List Popular Languages for Data Science
- List popular free environments for data scientist
- List popular Libraries used by data scientists
- Performing Arthimetic Expression

Some of the popular languages Data Scientist uses are 
1. Python
2. R
3. SQL

Some of the most common libraries data scientist uses
1. GGplot
2. Panda
3. NumPy
4. seaborn
5. keras

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arthimetic expression in python

In [9]:
# This is a simple arthimetic expression of multiplication and then addition of integer
(3*4)+5

17

In [21]:
# This will convert 200 minutes into hours by dividing by 60
x=200
y=60
z=x/y
print(z)

3.3333333333333335

## Author
 Muhammad Hamza